{% extends 'base.html.twig' %}

{% block title %}Edit Product
{% endblock %}

{% block body %}
	<h1>Edit Product</h1>
    
	{{ form(edit) }}

    <a href="{{ path('app_product_index') }}">back to list</a>
    <a href="{{ path('app_product_delete', {'id': product.id}) }}">delete</a>
{% endblock %}
