{% extends 'base.html.twig' %}

{% block body %}
	<h1>{{ 'app.errors.server-error'|trans }}</h1>
	<a href="{{ path('app_product_index') }}" class="btn btn-light">{{ 'app.actions.back'|trans }}</a>
{% endblock %}
